body
{
  background-color: #999999;
  color : white;
  text-align: center;
}

#lignes
{
  visibility: hidden;
}

canvas
{
   margin-left: auto;
   margin-right: auto;
   width: 98em;
}

.diapo
{
  position: relative;  
}

.boutons 
{
  z-index: 1;
  position: absolute;
  margin: 20px;
  border:none;
  background:transparent;
}

.images
{
  z-index: 0;
  width: 100%;
  height:100%;
  top:0;
  position: relative;
}
